p {
	/* Font & Text */
	font-family: Inter, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0.1px;
	line-height: 28px;
	text-decoration: none solid rgb(232, 235, 230);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(232, 235, 230);

	/* Box */
	height: 56px;
	width: 538px;
	border: 0px none rgb(232, 235, 230);
	border-top: 0px none rgb(232, 235, 230);
	border-right: 0px none rgb(232, 235, 230);
	border-bottom: 0px none rgb(232, 235, 230);
	border-left: 0px none rgb(232, 235, 230);
	margin: 0px 0px 16px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 1px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}






.btn.btn-accent {
    /* Font & Text */
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: -0.176px;
    line-height: 24px;
    text-decoration: none solid rgb(22, 51, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgb(159, 232, 112);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(22, 51, 0);

    /* Box */
    height: 48px;
    width: 166.516px;
    border: 1px solid rgb(205, 255, 173);
    border-radius: 9999px; /* Applying border-radius to make it a rounded button */
    margin: 0px;
    padding: 11px 24px;
    min-width: auto;

    /* Positioning */
    display: inline-block; /* Adjusted to display inline-block */
    
    /* Miscellaneous */
    cursor: pointer;
    transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}









h2 .layout-module__title break-newlines order-1 mw-heading-2 {
	/* Font & Text */
	font-family: Inter, Helvetica, Arial, sans-serif;
	font-size: 43.5401px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: -1.3062px;
	line-height: 57px;
	text-decoration: none solid rgb(14, 15, 12);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: pre-line;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(14, 15, 12);

	/* Box */
	height: 114px;
	width: 516.25px;
	border: 0px none rgb(14, 15, 12);
	border-top: 0px none rgb(14, 15, 12);
	border-right: 0px none rgb(14, 15, 12);
	border-bottom: 0px none rgb(14, 15, 12);
	border-left: 0px none rgb(14, 15, 12);
	margin: 0px 0px 24px;
	padding: 0px;
	max-height: none;
	min-height: 1.318e-05px;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 1px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

section #refresh-multi-layout-payments .multilayout-widget section content bg-none {
	/* Font & Text */
	font-family: Inter, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: -0.108px;
	line-height: 26px;
	text-decoration: none solid rgb(69, 71, 69);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(69, 71, 69);

	/* Box */
	height: 1068.83px;
	width: 1303px;
	border: 0px none rgb(69, 71, 69);
	border-top: 0px none rgb(69, 71, 69);
	border-right: 0px none rgb(69, 71, 69);
	border-bottom: 0px none rgb(69, 71, 69);
	border-left: 0px none rgb(69, 71, 69);
	margin: 0px;
	padding: 96px 0px 144px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 1px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}