<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Meat</title>
</head>
<body>
    <h1>Delete Meat</h1>
    <p>Are you sure you want to delete the following meat?</p>
    <p>Name: <%= meat.name %></p>
    <p>Quantity: <%= meat.quantity %></p>
    <p>Price: <%= meat.price %></p>
    <form action="/api/meat/<%= meat._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
</body>
</html>
