<div class="container">
    <h1>Why People Belive in us</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="/images/profileImage.jpeg" class="card-img-top rounded-circle" alt="Profile Image 1" style="width: 50px;">
                <div class="card-body">
                    <h5 class="card-title">Ibrahim Zaheer</h5>
                    <p class="card-text">Absolutely fantastic! I recently discovered this website for buying meat, and I couldn't be happier with my experience. The quality of the meat exceeded my expectations, and the variety of cuts available is impressive.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="/images/profileImage.jpeg" class="card-img-top rounded-circle" alt="Profile Image 2" style="width: 50px;">
                <div class="card-body">
                    <h5 class="card-title">Aslam Rehman</h5>
                    <p class="card-text"> I appreciate is the transparency and trustworthiness of the website. They provide detailed information about the sources of their meat, including how the animals are raised and cared for. As someone who values ethical and sustainable practices, this is extremely important to me.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
