<div class="text">
    <p><h2>About Us</h2>
      <%- include('./components/Cards/AboutUSCard'); %>
  </div>
  <%- include('./components/Cards/makeUsUniqueCard'); %>
  <div>
    <%- include('./components/Cards/whyTrustUs'); %>
</div>