<div class="container">
    <div class="row">
      <!-- Column 1 -->
      <div class="col">
        <img src="/images/brands/burgerKing.jpg" class="img-fluid" alt="Image 1">
      </div>
      <!-- Column 2 -->
      <div class="col">
        <img src="/images/brands/cheetos.jpg" class="img-fluid" alt="Image 2">
      </div>
      <!-- Column 3 -->
      <div class="col">
        <img src="/images/brands/nike.jpg" class="img-fluid" alt="Image 3">
      </div>
      <!-- Column 4 -->
      <div class="col">
        <img src="/images/brands/OIP.jpg" class="img-fluid" alt="Image 4">
      </div>
      <!-- Column 5 -->
      <div class="col">
        <img src="/images/brands/pringle.jpg" class="img-fluid" alt="Image 5">
      </div>
    </div>
  </div>
  