@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#ff7613;
    --text-color:#727171;
}

html{
    font-size: 10px;
}

body
{
    font-family: Inter,sans-serif;
    background-color: white;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    /* we sue grid to help us display everything within that given area */
    display: grid;
    /* this will divide grid into two columns */
    grid-template-columns: 1fr 1fr;
    /* means making space between the elements */
    padding: 5rem;
    background-color: black;
    gap: 4rem;
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}
.item_preTitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.item_Title{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    margin: 0.8rem 0;
}
.item_subTitle{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0.8rem 0;
}
@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        /* //In Grid, the "gap" property specifies the spacing between grid items, both rows, and columns */
        gap: 7rem;
    }
}
.profile{
    /* we are telling the class to take the whole column  since we gave it 2 columns in container */
    grid-column: 1 / -1;
    /* we are telling it how much space should our profile class take from bottom side */
    margin-bottom: 2rem;
}
.profile_container{
    /* we use flex when we want work with in single row or column and even distribute flex items */
    display: flex;
}
.profile_profImg{
    max-width: 250;
    margin-right: 5rem;
}
.profile_name_FirstName{
    color: white;
    font-weight: 200;
    /* we use it to help us that the text size minimum size is 2rem and max is 4 rem and according to 8vw
    the size of text will change according to device size */
    font-size: clamp(2rem,8vw,4rem);
    text-transform: uppercase;
    margin-bottom: -0.8rem;
    /* means do not allow any other item to exit with it as same line */
    display: block;
}
.profile_name_LastName{
    color: #ff7613;
    font-weight: 700;
    font-size: clamp(2.5rem,15vw,7rem);
    text-transform: uppercase;
    display: block;
}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;

    display: block;
}

@media only screen and (max-width: 768px) {
   .profile_container{
    flex-direction: column;
   }
}
/* expertise */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

.group1 {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    /* grid-column: 1 / 3; */
    background-color: gold;
}

.group2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    grid-column: 2 / 3;
}
/* .group3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    grid-column: 3 / 3;
} */

/* education */
.edu_item, .exp_item, .Interest_item{
    margin-top: 2rem;
}
.cert_item{
    margin-top: 2rem;
    margin-bottom: 2 rem;
}

.icon {
    width: 32px; 
    height: 32px; 
}
.icon_preTitle{
   
    
    flex-direction: row;
    display: grid;
    
}
.Interest_item{
    display: flex;
    right: 20rem;
}

.icon_Title{
margin-right: 6rem;
margin-left:  2rem;
}
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.group-3>div{
    flex: 1;
}