<div class="container-fluid custom-bg-red">
    <div class="row justify-content-center"> <!-- Center align the row content -->
        <div class="col text-center"> <!-- Center align the column content -->
            <h2>What We Do</h2>
            <h1>What Makes Us Unique</h1>
            <p>When You Join Us, You’re Joining A Community Focused On Caring About Animals And Our Planet, </p>
            <p>Improving Livelihoods For Farmers, And Sharing Better Meals Together.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card floating-card card-1" style="background-color: green;">
                <div class="card-body text-center">
                    <img src="/images/icons/quality.png" style="width: 50%; margin: 0 auto;" class="card-img-top" alt="Icon">
                    <h1 class="card-title">HIGH-QUALITY MEAT</h1>
                    <p class="card-text">100% grass-fed beef, free-range organic  and wild-caught seafood</p>
                    <p class="card-text">chicken, humanely raised , </p>
                    <p class="card-text">and wild-caught seafood.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card floating-card card-2" style="background-color: red;">
                <div class="card-body text-center">
                    <img src="/images/icons/value.png" style="width: 50%; margin: 0 auto;" class="card-img-top" alt="Icon">
                    <h1 class="card-title">UNBEATABLE VALUE</h1>
                    <p class="card-text">Get a range of high-quality cuts,</p>
                    <p class="card-text">from ground beef to filet mignon, </p>
                    <p class="card-text">at an amazing value.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card floating-card card-3" style="background-color: green;">
                <div class="card-body text-center">
                    <img src="/images/icons/arrows.png" style="width: 50%; margin: 0 auto;" class="card-img-top" alt="Icon">
                    <h1 class="card-title">COMPLETE FLEXIBILITY</h1>
                    <p class="card-text">100% grass-fed beef, free-range organic  and wild-caught seafood</p>
                    <p class="card-text">chicken, humanely raised , </p>
                    <p class="card-text">and wild-caught seafood.</p>
                </div>
            </div>
        </div>
    </div>
</div>
