
<ul>
    <% if (authenticated) { %>
        <%- include('./components/Form/placingOrderForm'); %>
  <!-- Show non-authenticated content, like login/signup options -->
      <% } else { %>
       <div>
        <h1>Sorry but please log in</h1>
       </div>
      <% } %>
</ul>