<div class="container">
    <div class="row">
      <!-- Left column for video -->
      <div class="col-md-6">
        <!-- Embedded video -->
        <video width="100%" controls>
          <source src="/videos/meatCutting.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <!-- Right column for text -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <!-- Text content -->
            <h5 class="card-title">Title Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar nulla quis libero ultricies aliquet. Nullam vel accumsan magna. Vestibulum rhoncus velit at libero volutpat, ac venenatis libero posuere.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  