<div >
    <div class="containerImage">
      <div class="box">
        <div class="imgBx">
          <img src="images/goatTypes/mongolian goat.png">
          <!-- <video src="videos/chicken_video.mp4"></video> -->
        </div>
        <div class="content">
          <div>
            <h2>Boer Goat</h2>
            <p>Boer goats are a popular meat breed originating from South Africa. They are known for their impressive size, muscular build, and distinctive red or brown head with white bodies. 
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img src="images/goatTypes/desi goat.png">
        </div>
        <div class="content">
          <div>
            <h2>Nubian Goat</h2>
            <p> Originating from Africa, they are known for their high butterfat content in their milk, making them a popular choice for dairy production. 
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img src="images/goatTypes/pahari bakra.png">
        </div>
        <div class="content">
          <div>
            <h2>Saanen Goat</h2>
            <p>Originating from Switzerland, they are known for their pure white or creamy-colored coats and upright ears. 
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img src="images/goatTypes/teddy .png">
        </div>
        <div class="content">
          <div>
            <h2>Angora Goat</h2>
            <p> Originating from Turkey, they are primarily raised for their fiber, which is prized for its warmth, sheen, and durability.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>