<form action="/api/meat/api/meat" method="post">
    <input type="text" name="name" placeholder="Meat Name" required><br>
    <input type="number" name="quantity" placeholder="Quantity" required><br>
    <input type="number" name="price" placeholder="Price" required><br>
    
    <!-- Hidden input field to store the image URL -->
    <input type="hidden" name="image" value="<%= imageUrl %>">

  
    <button type="submit">Submit</button>
  </form>
  